.home-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    padding-right: 20%; 
}


.module-group {
    flex: 1; 
    margin-right: 50px; 
}

.sidebar {
    width: 20%; 
    position: fixed;
    top: 0; 
    right: 0; 
    display: flex;
    flex-direction: column;
    z-index: 1000; 
}


.sidebar-item {
    background-color: #f5f5f5; 
    padding: 10px 15px;
    margin-bottom: 10px; 
    border-radius: 4px;
    border: 1px solid #ddd;
    border-radius: 4px; 
}
